.detail-container {
    text-align: left;
    .detail-main {
        .main-body {
            padding: 16px;
            .body-top {
                background-color: #fff;
                margin-bottom: 10px;
                height: 70px;
                .top-box {
                    height: 70px;
                    line-height: 70px;
                    .tabs-nav {
                        .nav-item {
                            float: left;
                            padding: 0 20px;
                            color: #777;
                            position: relative;
                            cursor: pointer;
                            .nav-title {
                                text-align: center;
                            }
                            .navhidden {
                                height: 0;
                            }
                            &.active {
                                color: #000;
                                .navhidden {
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                    width: 100%;
                                    border-bottom: 3px solid #4162ff;
                                }
                            }
                        }
                    }
                    .operate {
                        float: right;
                        .ope-item {
                            float: left;
                            margin-right: 10px;
                            &:last-child {
                                margin-right: 30px;
                            }
                        }
                    }
                }
            }
            .body-container {
                background-color: #fff;
                .body-content {}
            }
        }
    }
    .dialog-container {
        .dialog-body {
            .dialog-content {
                padding: 30px;
                .list-item {
                    margin-bottom: 15px;
                    &:after {
                        display: block;
                        content: "";
                        clear: both;
                        height: 0;
                        visibility: hidden;
                    }
                    .item {
                        float: left;
                        width: 45%;
                        margin-right: 5%;
                        text-align: left;
                        .name {
                            height: 20px;
                            line-height: 20px;
                            color: #666;
                            font-size: 12px;
                        }
                        .value {
                            .old-imgbox {
                                float: left;
                                background-color: #fbfdff;
                                border: 1px dashed #c0ccda;
                                border-radius: 6px;
                                box-sizing: border-box;
                                width: 148px;
                                height: 148px;
                                line-height: 146px;
                                vertical-align: top;
                                margin-right: 20px;
                                img {
                                    width: 148px;
                                    height: 148px;
                                }
                            }
                        }
                    }
                    .item-row {
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }
    }
}